*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.App{
    padding: 0 20px;
    width: min(800px, 100vw);
}
.navbar{
    background: #264653;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.navbar__links{
    margin-left: auto;
}
.post__counter{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.post{
    display: flex;
    padding: 15px;
    border: 2px solid #2A9D8F;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post-enter {
    opacity: 0;
    transform: translateX(-200px);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
    transform: translateX(0);
}
.post-exit-active {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 500ms ease-in;
}
